.navbar{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: rgba(255,165,0,0.8);
}
.nav-menu{
    flex:70%;
    text-align: center;
}

.nav-search{
    flex: 30%;
    text-align: center;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px;
}
.nav-menu a:hover{
    color: red;
}

.nav-search input{
    padding: 6px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 300px;
}
.nav-search button{
    padding: 6px 20px;
    outline: none;
    border: none;
    margin-left: 2px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.nav-search button:hover{
    background-color: red;
}

#logoImage{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.4s;
}


#logoImage:hover{
    transform: scale(1.5);
}



@media screen and (min-width:1000px) and (max-width:1296px){
    .nav-menu{
        flex: 100% !important;
    }
}